html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, kbd, q, s, samp,
small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
body { line-height: 1; }
ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

@font-face { font-family: "Axel"; src: url(../fonts/axel-regular.ttf) format("truetype"); }

html {
    background-color: #c9c9c9;
	border-top: 3px solid #333;
	color: #444;
	font: normal 62.5%/1 helvetica, sans-serif;
	padding: 0px;
}

body {
	background-color: #e7e7e7;
	-webkit-border-radius: 6px;
	-webkit-box-shadow: 0px 0px 20px #adadad;
	margin: 8% auto 10px;
	text-align: left;
	padding: 20px 20px 57px 20px;
    width: 960px;
	position: relative;
	background-repeat: top-left;
}

code {
	display: inline-block;
	background-color: #010101;
	color: #a01aa2;
	font-family: inconsolata, monaco, monospace;
	padding: 2px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

h1, h2 {
	font: normal 2.6em/1em "Axel", helvetica, sans-serif;
	color: #a21a1a;
}

a, a:visited { font-weight: bold; color: #3e874c; padding: 0 0 1px 0; border-bottom: 1px dotted #3e874c; text-decoration: none; }
a:hover { border-bottom: 1px solid #3e874c; }

p { margin: 5px 0 10px 0; font-size: 1.2em; line-height: 1.5em; }

ul {
	margin: 0 0 15px 0;
	padding-left: 20px;
	list-style-type: disc;
	font-size: 1.6em;
	line-height: 1.8em;
}

ul ul { font-size: 14px; line-height: 1.8em; padding: 10px 0 0 40px; }
ul ul li { margin-bottom: 10px; }
ul ul li strong { color: #1a74a2; }

#content {
	font-size: 1.2em;
	line-height: 1.5em;
}

#laika_toc { padding-left: 40px; }
#laika_toc li { margin-bottom: 2px; }

#menubar {
	background-color: #010101;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 37px;
	width: 1000px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
}

#laika_previous, #laika_next {
	display: block;
	height: 17px;
	text-decoration: none;
	font-size: 1.2em;
	padding: 12px 20px 8px;
}

#laika_previous { 
	float: left; 
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
}

#laika_next { 
	float: right; 
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
}
