<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Laika | Simple Slide Sharing{% endblock %}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="css/laika.css">
	<!--
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/laika.js"></script>
	-->
</head>
<body>
	<a href="#previous" id="laika_previous" title="Hit the previous slide">&laquo; Previous</a>
	<a href="#next" id="laika_next" title="Hit the next slide">Next &raquo;</a>

	{% block content %}
	
	{% endblock %}

</body>
</html>
